.viewer {
  @apply bg-white m-4 pb-16 text-gray-800;
  .mono {
    @apply font-mono;
  }
  * {
    @apply transition-all duration-150;
  }
}

.viewer > .wrapper {
  @apply mx-auto max-w-xl shadow-2xl;
  overflow: hidden;

  .overlay:before {
    @apply z-10 w-full opacity-80;
    content: '1 ';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
  }

  .inner {
    @apply z-20 relative;
  }

  @apply rounded-3xl;
  header {
    @apply p-2;
    @apply flex flex-row;
  }

  .collection {
    @apply p-1 flex flex-row rounded-tr-xl rounded-br-xl rounded-tl-3xl rounded-bl-3xl;
    @apply bg-white bg-opacity-50;
    @apply hover:bg-opacity-75 hover:shadow-md;
    .logo {
      @apply rounded-full bg-white text-xs text-center;
      > svg {
        @apply w-7 h-7 m-1;
      }
    }
    .info {
      @apply flex flex-col ml-1;
    }
    .contract {
      @apply font-medium text-sm;
      span {
        @apply text-xs bg-black bg-opacity-5 px-2 py-0.5 rounded-lg font-normal;
      }
    }
    .addr {
      @apply flex text-xs pr-2;
    }
  }
}

section.token-basic {
  @apply p-4 grid grid-cols-2 gap-x-1 gap-y-1 text-xs pt-0;
  dl:nth-child(even) {
    @apply text-right;
  }
  dt {
    @apply uppercase opacity-50;
  }
}

.viewer main {
  @apply p-4 bg-white bg-opacity-25 mx-4 rounded-2xl;
  @apply hover:bg-opacity-50;
  h1 {
    @apply text-2xl py-2;
  }
  .cover {
    @apply text-sm content-center text-center;
    > * {
      @apply rounded-lg;
      display: inline-block;
      width: 100%;
    }
  }
  h1 {
    @apply pb-4;
  }
  .content {
    @apply py-2;
    p {
      @apply py-1;
    }
  }
}

.viewer.layout-raw-address main {
  h1 {
    @apply text-center font-serif py-12 px-4 text-4xl font-mono font-extralight text-gray-500 break-all;
  }
  .content {
    display: none;
  }
  .cover {
    display: none;
  }
}

.viewer.layout-big-title main {
  h1 {
    @apply text-center font-serif py-12 px-4 text-4xl;
  }
  .content {
    display: none;
  }
  .cover {
    display: none;
  }
}

.viewer.layout-media-cover main {
  @apply p-0 rounded-lg;
  h1 {
    display: none;
  }
  .content {
    display: none;
  }
}

.viewer.layout-no-title main {
  h1 {
    display: none;
  }
  .content {
    @apply text-lg;
  }
}

.viewer footer {
  @apply p-4;
  > div {
    @apply grid grid-cols-4;
  }
  a.button {
    @apply flex flex-col items-center p-2 bg-white bg-opacity-50 rounded-2xl text-sm;
    @apply hover:bg-opacity-75;
    > svg {
      @apply flex w-6 h-6;
    }
    p {
      @apply flex text-center;
    }
  }
}

.viewer .chain-data {
  @apply m-4;
  summary {
    @apply text-lg font-medium;
  }
  details > div {
    @apply flex flex-col space-y-1 border-gray-300;
  }
  details > div > div {
    @apply grid grid-cols-2 gap-1;
    dl:nth-child(even) {
      @apply text-right;
    }
  }
  dl {
    @apply text-xs;
  }
  dt {
    @apply uppercase opacity-50;
  }
  dd {
    @apply w-full truncate;
  }
}
